<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>SSN GPA Calculator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png" /> -->
    <meta name="msapplication-TileColor" content="#3f51b5" />
    <meta name="theme-color" content="#3f51b5" />
    <meta
    />

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="css/materialize.min.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />
  </head>

  <body ng-controller="gpaCtrl" ng-init="updateGPA() " oncontextmenu="return false;">
    <div class="loader blue-grey darken-4">
      <div class="progress blue-grey darken-4">
        <div class="indeterminate indigo"></div>
      </div>
    </div>

    <main>
      
       

      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper blue-grey darken-4">
            <!-- <img class="brand-logo logo left" src="favicon.png" />
            <img class="brand-logo logo left" src="favicon.png" /> -->
            <div
              href="#"
              class="brand-logo GPA center"
                  style="font-size: 20px;"
              title="{{ myGPA | number : 2 }}"
            >
              CGPA : {{ myGPA | number : 4 }}
            </div>

            

            <button
              class="
                right
                adjust-btn
                btn-flat
                white-text
                hide-on-med-and-down
                modal-trigger
                tooltipped
              "
              data-position="bottom"
              data-tooltip="Reset"
              href="#modal1"
            >
              <i class="material-icons">delete_sweep</i>
            </button>

            
              
          </div> 
        </nav>
      </div>

      <div class="container">
        <div class="row subjectTab">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s3" ng-repeat="z in subjects">
                <a class="active" href="#year{{z.year}}"
                  >Year {{ z.year }}
                  <span
                    class="badge blue white-text tooltipped"
                    data-position="bottom"
                    data-tooltip="Year {{z.year}} GPA"
                    >{{ z.yearGPA ? z.yearGPA : 0 | number:2 }}</span
                  >
                </a>
              </li>
            </ul>
          </div>
          <div
            id="year{{z.year}}"
            class="tabContent col s12"
            ng-repeat="z in subjects"
          >
            <div class="col s12 m6 semContent" ng-repeat="s in z.sems">
              <h6 class="">
                Credits : {{ s.semesterCredit }} / {{ s.totalSemesterCredit }}
                <span style="float: right"
                  >GPA: {{ s.semesterGPA | number : 4 }}</span
                >
              </h6>
              <div
                class="row subRow"
                ng-repeat="x in s.subs"
                title="Subject {{$index+1}} : {{ x.name }}"
              >
                <div class="col s4 m3">
                  <span>{{ x.id.substr(0,9) }}<b></b></span
                  ><br />
                  <span
                    ng-if="x.type"
                    ng-class="x.type"
                    class="badge left white-text"
                  >
                    {{ x.type | getType }}
                  </span>
                </div>
                <div class="col s8 m6 subName">{{ x.name }}</div>
                <div class="col s12 m3 input-field">
                  <select
                    class="browser-default"
                    ng-class="x.grade | getGradeClass"
                    ng-model="x.grade"
                    ng-change="updateGPA()"
                    ng-options="y.val as y.name for y in grades"
                  >
                    <option>-</option>
                    <option></option>
                  </select>
                </div>
              </div>
            </div>

           
    </main>

    <footer class="blue-grey darken-4">
      <div class="footer-copyright">
        <div class="container">
          GPA Calculator - {{ courseTitle }}
          
          <a href="https://sarikamuthu.github.io/sarika_portfolio/" target="_blank">Sarika</a> 
        </div>
      </div>
    </footer>

    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Are you sure?</h4>
        <p class="center">
          <i class="material-icons large grey-text">delete</i> <br />By
          resetting all your data will be deleted and reset to empty status.
          This action can't undone.
        </p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn grey"
          >Cancel</a
        >
        <a
          href="#!"
          class="modal-close waves-effect waves-green btn indigo"
          ng-click="reset()"
          >Reset</a
        >
      </div>
    </div>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/bme.js"></script>
    <script src="js/grades.js"></script>
  </body>
</html>
